<a href="https://colab.research.google.com/github/MK316/Spring2024/blob/main/Corpus/Articles_revised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Finding articles in a text

In [ ]:
import re

def count_articles(text):
    # Regex pattern to match 'a', 'an', 'the'
    # Using word boundaries (\b) to ensure we're not matching substrings within larger words
    pattern = r'\b(a|an|the)\b'

    # Using case-insensitive matching to catch 'A', 'An', 'The', etc.
    matches = re.findall(pattern, text, re.IGNORECASE)

    # Count the frequency of each article
    article_counts = {'a': 0, 'an': 0, 'the': 0}
    for match in matches:
        article_counts[match.lower()] += 1

    return article_counts

In [ ]:
# Example usage
text = "A cat and an apple were on the table. The cat jumped over a dog."
article_counts = count_articles(text)
print(article_counts)

+ [text1: living light](https://raw.githubusercontent.com/MK316/Class_Spring2022/main/Ch02_Living_light.txt)
+ [text2: Visual village](https://raw.githubusercontent.com/MK316/Class_Spring2022/main/Ch01.Visual.Village.txt)
+[text3:TED-photo](https://raw.githubusercontent.com/MK316/Spring2024/main/Corpus/tedphoto.txt)

In [ ]:
text = input()
article_counts = count_articles(text)
print(f"Use of articles: {article_counts}")

# Two texts to compare

Assing texts A and B

In [ ]:
textA=input("TextA: ")
textB=input("TextB:" )

In [ ]:
# Example texts
text1 = "A cat and an apple were on the table. The cat jumped over a dog."
text2 = "It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust from entering along with him."

In [ ]:
# Define the maximum length
max_length = 4746

# Trim the string to the maximum length
trimmed = textA[:max_length]

len(trimmed)

In [ ]:
textA = trimmed

In [ ]:
#@markdown Text comparison in terms of average sentence length and article use
import re
import pandas as pd
from statistics import mean

def analyze_text(text):
    words = re.findall(r'\b\w+\b', text)
    sentences = re.split(r'(?<!\w\.\w.)(?<![A-Z][a-z]\.)(?<=\.|\?|\!)\s', text)
    sentence_lengths = [len(re.findall(r'\b\w+\b', sentence)) for sentence in sentences]

    article_counts = re.findall(r'\b(a|an|the)\b', text, re.IGNORECASE)
    indefinite_count = sum(1 for word in article_counts if word.lower() in ['a', 'an'])
    definite_count = sum(1 for word in article_counts if word.lower() == 'the')

    return {
        'Length': len(text),
        'N_Word': len(words),
        'N_Sent': len(sentences),
        'Avg_SentLen_inwords': mean(sentence_lengths) if sentence_lengths else 0,
        'Indef_Articles': indefinite_count,
        'Def_Articles': definite_count
    }


# Analyze texts
results_text1 = analyze_text(textA)
results_text2 = analyze_text(textB)

# Create a DataFrame
df = pd.DataFrame([results_text1, results_text2],
                  index=['Text A', 'Text B'])

# Display the DataFrame
df

#TED script preprocessing using Regular Expression

In [ ]:
import re

In [ ]:
ted = input()

00:46
My process begins by photographing iconic locations, places that are part of what I call our collective memory. I photograph from a fixed vantage point, and I never move. I capture the fleeting moments of humanity and light as time passes. Photographing for anywhere from 15 to 30 hours and shooting over 1,500 images

\\

In [ ]:
# # cleaned = re.sub(r"\d\d:\d\d", "", ted)
cleaned = re.sub(r'\b\d+:\d+\b', '', ted)
cleaned